/* Correct display of the body when the top navbar is fixed */
body {
    padding-top: 70px;
}

/* Use all the wide screens */
.container{
    width: 100%;
}

/* Make dep structure scrollable */
.dep_struct{
    overflow: auto;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
}

textarea {
    resize: none;
}

@media screen and (min-width: 992px) {
    .modal-lg {
      width: 950px;
    }
}
